:root {
  --color-toquoise: #1abc9c;
  --color-midnight: #2c3e50;
  --color-pormegranate: #c0392b;
  --color-alizarin: #e74c3c;
  --color-clouds: #ecf0f1;
  --color-carrot: #e67e22;
  --color-sunflower: #f1c40f;
  --color-orange: #f0a630;

  --border-radius-default: 8px;

  --padding-default: 10px;
  --margin-small: 5px;
  --margin-medium: 10px;
  --margin-large: 20px;

  --font-size-px: 12px;
  font-size: 12px;
  --font-size-small: 1rem;
  --font-size-medium: 2.5rem;
  --font-size-large: 4rem;

  --transition-time-fast: 100ms;
  --transition-time-normal: 150ms;
  --transition-time-slow: 200ms;
}

@media only screen and (min-width: 600px) {
  :root {
    font-size: 20px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--color-carrot);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
