.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 2rem;
  background-color: var(--color-carrot);
}

.main {
  padding: 3rem 0 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--color-sunflower);
  justify-content: center;
  align-items: center;
  color: var(--color-midnight);
  max-height: 80px;
}

@media only screen and (min-width: 600px) {
  .footer {
    max-height: 100px;
  }
}

.footer a {
  text-decoration: underline;
}

.footer p {
  margin: 0;
}

.title {
  margin: 0;
  line-height: 1;
  font-size: var(--font-size-large);
  text-align: center;
  color: var(--color-sunflower);
}

.game {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

@media only screen and (min-width: 600px) {
  .game {
    padding: 4rem 0;
  }
}
